@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #ffe8cc;
  color: #d9480f;
  font-size: 2rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
}

.sm-reg {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0.2rem;
  color: #555;
}

.regular-btn {
  background-color: #ffb459;
  color: #d9480f;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.regular-btn:hover {
  background-color: #ffab43;
}

/*************************************************Static classes*******************************************************************/

#rootModal dialog {
  position: relative;
  animation: slideDown 0.1s ease-out forwards;
  transform-origin: top center;
}

#rootModal form {
  margin: 0;
  padding: 0;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.9);
  animation: fadeIn 0.1s ease-out;
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.9);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#rootModal * {
  margin: 2rem auto;
  font-size: 2rem;
  background-color: rgb(255, 77, 77);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #fff;
}

#rootModal h1,
p {
  margin: 0 !important;
  padding: 0 !important;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.8rem;
}

#rootModal p {
  font-size: 1.2rem;
}

#rootModal button {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 2%;
  cursor: pointer;
}

main {
  height: 100%;
  width: fit-content;
  padding-top: 8rem;
  display: flex;
  gap: 16rem;
}

main aside {
  background-color: #d9480f;
  color: #ffe8cc;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
  padding: 2rem 2rem 2rem 4rem;
  width: 50rem;
}

aside h2 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

aside li button {
  display: flex;
  justify-content: space-between;
  background-color: #842500;
  color: #ffe8cc;
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  width: 20rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
  padding-right: 0;
}

aside li button p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

aside li button img {
  display: none;
  width: 40px;
  height: 20px;
}

aside li button:hover {
  width: 25rem;
}

aside li button:hover img {
  display: flex;
}

aside li {
  list-style-type: none;
}

aside ul {
  margin-top: 2rem;
}

main .NewProject {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.NewProject menu {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: 1px solid #d9480f;
  color: #d9480f;
  border-radius: 0.8rem;
  padding: 0.4rem 1rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-fill {
  background-color: #d9480f;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
}

.hover:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.NewProject div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.NewProject p {
  display: flex;
  flex-direction: column;
}

p input,
textarea {
  background-color: #ffb459;
  max-width: 60rem;
  border: none;
  border-radius: 0.6rem;
  min-height: 4rem;
  max-height: 40rem;
  min-width: 60rem;
  padding: 0.6rem;
  font-size: 1.6rem;
}

p input:focus,
textarea:focus {
  outline-color: #d9480f;
  outline-style: dashed;
  outline-width: 2px;
}

.noProject {
  width: 50rem;
}
